*{
   margin:0;
   padding:0;
   font-family: Century Gothic;
 }

header{
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(1.png);
   height: 1000px;
   background-size: cover;
   background-position: center: 
   }
ul{
  float:right;
  list-style-type= none;
  }

ul li{
   display: inline-block;
   margin-top:25px;
   }
   
ul li a{
   text-decoration: none;
   color: #fff;
   padding: 5px 20px;
   border: 2px solid transparent; 
   transition: 0.6s ease;
   }
   
ul li.active a{
   background-color: #fff;
   color: #000;
}

ul li a:hover{
   background-color: #fff;
   color: #000;
   }
   
.logo img{
  float: left;
  width: 200px;
  height: auto;
  }
  
.main{
  max-width: 1350px;
  margin: auto;
  }
  
.title{
  position: absolute;
  top: 90%;
  left: 42%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: #fff;
  font-size: 70px;
}

.position{
  background-color: #fff;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 30px 30px;
}

.about, .contact{
   color: red;
   text-align: center;
}

.picture{
   background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(2.png);
   height: 1000px;
   background-size: cover;
   background-position: center: 
   }

em{
color: blue;
}

.description
{
   font-family: serif;
   font-size: 25px;
}

.bag{
  float: left;
  width: 420px;
  height: 700px;
 
}
.hair{
  float: left;
  width: 620px;
  height: 700px;
 
}
.girl{
  float: left;
  width: 420px;
  height: 700px;
 
}

.gallery{
color: #fff;
text-align:center;
}
